*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:azure;
    background-image: url(services.jpg);
    backdrop-filter: blur(60px);
    background-size: cover;
    backdrop-filter: blur(60px);



}

.row{
    width: 100%;
    padding: 0px 50px;

}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding:10px 0px;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}
.navbar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 100px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color:darkgreen;
}
.contents{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contents h1{
    font-size: 45px;
    color:black;
    font-weight: bolder;

}
span{
    color:darkgreen;
}
.contents h2{
    font-size: 40px;
    color: black;
    font-weight: bold;
}
.contents img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: -600px;
    margin-bottom: -50px;
}
.contents p{
    margin-left: 100px;
    margin-top: 50px;
    font-weight: 300;
    font-size: 18px;
    
}
.contents a{
    text-decoration: none;
    margin-top: 30px;
    font-size: 20px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    background-color: aqua;
    border-radius: 5px;
    color: black;
    font-weight: 400;


}
.footercontainer{
    background-color: black;
    width: 100%;
    padding: 70px 30px 20px;
    margin-bottom: -50px;

}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;

}
/* Hover Effects on social media icons*/
.socialIcons a:hover{
    background-color: blueviolet;
    transition: 0.2s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footercontainer ul li a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.8;
    transition: 0.3s;

}
.footerButton{
    background:black;
    padding: 20px;
    text-align: center;
}
.footerButton p{
    color: white;
}
.designer{
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:azure;


}
.row{
    width: 100%;
    padding: 0px 50px;

}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding:10px 0px;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}
.navbar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 100px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color:darkgreen;
}
.contents{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contents li{
    font-size: 30px;
    color:white;
    font-weight: bolder;

}
.contents {
    color: red;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 60px;
}
.contents h2{
    font-size: 40px;
    color: black;
    font-weight: bold;
}
.contents img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: -600px;
    margin-bottom: -50px;
}
.contents p{
    margin-left: 100px;
    margin-top: 50px;
    font-weight: 300;
    font-size: 18px;
    
}
.contents a{
    text-decoration: none;
    margin-top: 30px;
    font-size: 20px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    background-color: aqua;
    border-radius: 5px;
    color: black;
    font-weight: 400;


}
.footercontainer{
    background-color: black;
    width: 100%;
    padding: 70px 30px 20px;
    margin-bottom: -50px;

}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;

}
/* Hover Effects on social media icons*/
.socialIcons a:hover{
    background-color: blueviolet;
    transition: 0.2s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footercontainer ul li a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.8;
    transition: 0.3s;

}
.footerButton{
    background:black;
    padding: 20px;
    text-align: center;
}
.footerButton p{
    color: white;
}
.designer{
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    color: red;
}